API_BASE_URL="https://api.mypreflight.io"
ADSB_BASE_URL="https://adsb.mypreflight.io"
ADSB_CLIENT_TOKEN=""
DISCORD_APPLICATION_ID=""

SIMCONNECT_HOST=""
SIMCONNECT_PORT="500"

VERSION_POLL_INTERVAL_MS="900000"

LOG_LEVEL="info"
DATA_DIR=""
