API_BASE_URL="https://api.mypreflight.io"
ADSB_BASE_URL="https://adsb.mypreflight.io"
ADSB_CLIENT_TOKEN=""
DISCORD_APPLICATION_ID=""

SIMCONNECT_HOST=""
SIMCONNECT_PORT="500"

GSX_ENABLED="true"
GSX_HOST="127.0.0.1"
GSX_PORT="8744"

VERSION_POLL_INTERVAL_MS="900000"

LOG_LEVEL="info"
DATA_DIR=""
